<div class="form form-create-design">
    <div class="form__heading">Nouvelle maquette</div>
    <%= simple_form_for(@design, remote: true, html: { id: :add_design }) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form__fieldset">
            <div class="form__input form__input--full">
            <%= f.input :name, :label => 'Nom', required: :true %>
            </div>
        </div>
        <div class="form__fieldset">
            <div class="form__input form__input--full">
            <%= f.input :url, :label => 'Lien', required: :true %>
            </div>
        </div>
        
        
        <% if request.path.include?('designs') %>
            <% if @clients.length > 0 %>
                <div class="form__fieldset">
                    <div class="form__input form__input--full">
                        <%= f.association :client, as: :select, collection: @clients, :label => "Client associé" %>
                    </div>
                </div>
            <% else %>
                <div class="form__fieldset">
                    <div class="form__input form__input--full">
                        <%= f.association :client, as: :select, collection: @clients, :label => "Client associé", :disabled => true %>
                        <div class="form__helper">
                            <div class="info-msg">Pas de clients enregistrés</div>
                            <a class="form-link-helper" href="/clients?addPanel=true">+ Ajouter un client</a>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
        <%= f.hidden_field :client_id, :value => @client.id %>
        <% end %>
       

        <%= f.hidden_field :company_id, :value => current_user.company_id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>


        <% if @clients.length > 0 %>
        <div class="form__actions">
            <%= f.button :submit, :value => 'Ajouter' %>
        </div>   
        <% end %>
    <% end %>
</div>