<div class="header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="logo-app">
          <% @logoLink = '' %>
          <% if user_signed_in? %>
            <% @logoLink = board_path %>
          <% else %>
            <% @logoLink = root_path %>
          <% end %>

          <a href="<%== @logoLink %>">
            <span class="logo-app__text"><span class="color-magenta">In</span><span class="color-blue">Dev</span></span>
            <span class="idea-mention">par <img src="https://www.ideagency.fr/hubfs/00_SITE%202022/BRAND%20Assets%202022/favicon-mexico.svg"></span>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="header__actions">
        <% if user_signed_in? %>
          <nav>
            <ul>
              <li>
                <a href="<%= board_path %>">Tableau de bord</a>
              </li>
              <li>
                <a href="<%= edit_user_registration_path %>">Mon compte</a>
              </li>
              <li>
                <%= link_to raw('Se déconnecter'), destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </nav>
          <% else %>
          <nav>
            <ul>
              <li>
                <a href="<%= new_user_session_path %>">Se connecter</a>
              </li>
              <li>
                <a href="<%= new_user_registration_path %>">Créer un compte</a>
              </li>
            </ul>
          </nav>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


